@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: black;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer components {
  /* header field */
  header {
    @apply w-screen fixed top-0 left-0 z-50 flex items-center justify-center bg-black min-h-[7vh];
    nav {
      @apply container mx-auto flex items-center justify-between px-5 2xl:px-0;

      img {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-200 ease-in-out;
        button {
          @apply border-none outline-none cursor-pointer;
        }
      }
      ul {
        @apply flex items-center justify-center gap-7;
        a {
          @apply hidden md:block text-white opacity-80 text-sm cursor-pointer hover:opacity-100 transition-all duration-200 ease-in-out;
        }
      }
    }
  }

  /* MainHeader field */
  #hero {
    @apply h-fit lg:h-[80vh] flex flex-col items-center justify-center mt-40 lg:mt-20 2xl:mt-[7vh] bg-black;
  }

  #hero > div {
    @apply relative z-10 flex flex-col items-center justify-center lg:translate-y-16 w-full;
  }

  #exploreVideo {
    @apply pointer-events-none mx-auto lg:translate-y-5 2xl:translate-y-0 w-[80%] max-w-[1000px];
  }

  #delegate {
    @apply relative z-10 flex flex-col items-center translate-y-20 opacity-0;
  }

  #delegate a {
    @apply bg-cyan-600 text-white py-2 px-6 mb-5 rounded-full font-semibold text-lg cursor-pointer hover:bg-white hover:text-black transition-all duration-300 ease-in-out;
  }

  #delegate p {
    @apply lg:font-semibold text-xl text-white font-semibold;
  }

  /* CursorCheck field */
  #cursor {
    @apply w-full h-full overflow-hidden bg-black sm:py-32 py-20 sm:px-10 px-5;
  }
}
